doctype
html
 head
  <link rel="stylesheet" href="css/bootstrap.css" />
  <link rel="stylesheet" href="css/font-awesome.min.css" />
  <link rel="stylesheet" href="css/animate.css" />
  <link rel="stylesheet" href="css/jquery.bxslider.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Francois+One"/>  
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins" /> 
  <link rel="stylesheet" href="css/style.css" >
  
  title Page 3 
 body
  header.head
   section.nav
   .serch-page
   section.content 
    
 
